.homeslider1{
    overflow-x: clip;
}
 .to_hot_to_missed{
    display: flex;
    flex-wrap: wrap;
 }
 .to_hot_to_missed_text{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 30px 0 20px;
    text-align: center;
    
 }
 .to_hot_to_missed .img_items{
    flex: 0 0 50%;
    padding: 3px;
 }
 .slick-prev{
   left: 10px !important;
   z-index: 5;
 }
 .slick-next{
   right: 10px !important;
   z-index: 5;
 }